<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.sesu.AudioHandler"
    version="0.2.11">
    <name>AudioHandler</name>
    <description>The coolest Plugin ever implemented</description>
    <license>Apache 2.0</license>
    <keywords>cordova,coolest</keywords>
    <repo></repo>
    <issue></issue>
    <asset src="www/AudioHandler.js" target="AudioHandler.js"/>
    <js-module src="www/AudioHandler.js" name="AudioHandler">
        <clobbers target="AudioHandler" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AudioHandler" >
                <param name="android-package" value="AudioHandler"/>
            </feature>
        </config-file>
        <source-file src="src/android/AudioHandler.java" target-dir="src/" />
    </platform>
</plugin>